.navbar {
    background: linear-gradient(135deg, #e0f7fa, #254636);
    border-radius: 10px;
    
  }
  .navbar .navbar-brand {
    font-size: 1.5rem;  
    font-weight: 700;  
    color: white;     
    text-transform: uppercase; 
    letter-spacing: 1px; 
    display: inline-flex;  
    align-items: center;
    white-space: nowrap;  
    margin-right: auto; 
  }
  
  
  .navbar .navbar-nav .nav-link {
    color: white !important; 
    font-weight: 700;
    text-transform: capitalize;
    font-size: 1rem;
    padding: 10px 20px;
    display: flex;
    align-items: center;
  }
  
  
  .navbar .navbar-nav .nav-link:hover {
    color: #004d40 !important; 
  }
  
  
  .navbar .btn-group .btn {
    background-color: #388e3c; 
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 25px;
    font-size: 3rem;
    margin-left: 5px;
  }
  
  .navbar .btn-group .btn:hover {
    background-color: #2c6b2f; 
  }
  
  
  @media (max-width: 991px) {
    .navbar-nav {
      text-align: center;
    }
  }
  .navbar-date {
    font-family: 'Arial', sans-serif; /
    font-size: 16px; 
    color: white; 
    white-space: nowrap; 
    display: flex;
    align-items: center; 
  }