<div class="container mt-5">
<app-card>
  <div card-title>
    <h2 class="task-detail-title text-center mb-4 text-white">
      Task detail
    </h2>
  </div>

  @if (task ; as task) {
  <div card-input>
    <div class="task-detail">
      <div class="detail-item">
        <span class="detail-label">Content:</span>
        <p class="detail-value">{{ task.content }}</p>
      </div>
    </div>

    <div class="task-detail">
      <div class="detail-item">
        <span class="detail-label">Description:</span>
        <p class="detail-value">{{ task.description || 'Brak opisu' }}</p>
      </div>
    </div>

    <div class="task-detail">
      <div class="detail-item">
        <span class="detail-label">Date:</span>
        <p class="detail-value">
          {{ task.due ? formatDate(task.due.date) : 'Brak daty' }}
        </p>
      </div>
    </div>

  
<div class="task-detail">
  <div class="detail-item">
    <span class="detail-label">Priority:</span>
    <span class="detail-value" [ngClass]="{
      'high-priority': task.priority === 4,
      'medium-priority': task.priority === 3,
      'low-priority': task.priority === 2,
      'very-low-priority': task.priority === 1
    }">
      {{ getPriorityLabel(task.priority) }}
    </span>
  </div>
</div>
</div>
  }
  <div card-buttons>
    <button class="btn btn-light">Edit</button>
  </div>
</app-card>
</div>