.btn-primary {
    background-color: #254636; /* Base color for normal state */
    color: white; /* Text color */
    border-radius: 25px;
    padding: 8px 20px;
    border: none;
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.btn-primary:hover {
    background-color: #1b3a32; /* Darker color on hover */
}
.btn-secondary {
    border-radius: 25px;
    padding: 8px 20px;
    border: none;
}